@{
    ViewData["Title"] = "Home";
}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
        <h1>Cody Slivinski</h1>
        <p>I'm <span class="typed" data-typed-items="Designer, Developer, Freelancer"></span></p>
    </div>
</section><!-- End Hero -->

<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="section-title">
                <h2>About</h2>
                <p>
                    Hello, I am Cody Slivinski. After a career in the food and retail industry I decided it was time for a change. It was time to find something different that was ever evolving and ever the mental challenge. After deciding I needed a change and lots of looking into web development and software engineering the choice was easy.
                    <br>
                    I started my change at home learning what I could here and there on the web trying to develope my skills. It didnt take me long to find that I really enjoyed learning to code and it also didn't take me long to find the amount of information available was quite overwhelming. It was time to fully dive in. I looked around to try and find a school or a bootcamp that I could go to where my learning would be guided and I would have someone to there ask for assistance when needed. That's when I found Centriq.
                    <br>
                    I decided to quit my job and enroll in Centriqs full stack web development program in early April of 2023. It was time for me to devote myself to the change I was seeking. Here we are just a short month in and I find myself <strong>BUILDING</strong> a website about myself. Below you can keep up with my classmates and me on our journey to become developers and live the change we were all looking to make.
                </p>
            </div>

            <div class="row">
                <div class="col-lg-4" data-aos="fade-right">
                    <img src="assets/img/ProfilePic.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                    <h3>Software Engineer &amp; Web Developer.</h3>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul>
                                <li><i class="bi bi-chevron-right"></i> <strong>Linkedin:</strong> <span>www.linkedin.com/in/codyslivinski/</span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>www.codyslivinski.com</span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Location:</strong> <span>Kansas City, Missouri</span></li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul>
                                <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>31</span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Eductaion:</strong> <span>Centriq Training, and self taught</span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
                            </ul>
                        </div>
                    </div>
                    <p>
                        Kansas City local born in 1992. My developement career is young and a journey just beginning. I am available for work locally our globally if remote work is available. I have been trained through Centriq training and have done some self teaching and exploration of programing and web developement. I hope to continue to add to my knowledge and portfolio of projects as I progress through my journey.
                    </p>
                </div>
            </div>

        </div>
    </section><!-- End About Section -->
    <!-- ======= Badges Section ======= -->
    <section id="badges" class="mb-4">
        <div class="container">

            <div class="section-title">
                <h2>Languages & Programs</h2>
                <p>Here is a list of accomplishment badges I've earned through Centriq Training.</p>
            </div>


            <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

                <div class="col-lg-3 col-md-4 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="assets/img/FrontEnd.png" class="img-fluid" alt="">
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="assets/img/Csharp.png" class="img-fluid" alt="">
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="assets/img/JavaScript.png" class="img-fluid" alt="">
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="assets/img/SQL.png" class="img-fluid" alt="">
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="assets/img/NetCore.png" class="img-fluid" alt="">
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="assets/img/RestfulAPI.png" class="img-fluid" alt="">
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="assets/img/PairPrograming.png" class="img-fluid" alt="">
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="assets/img/AgileScrum.png" class="img-fluid" alt="">
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="assets/img/ProSkills.png" class="img-fluid" alt="">
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="assets/img/Graduate.png" class="img-fluid" alt="">
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Badges Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
        <div class="container">

            <div class="section-title">
                <h2>Resume</h2>

                <div class="row">
                    <div class="col-lg-6" data-aos="fade-up">
                        <h3 class="resume-title">Sumary</h3>
                        <div class="resume-item pb-0">
                            <h4>Cody Slivinski</h4>
                            <p><em>Innovative and deadline-driven software develeoper who is just starting out. Strong in the fundamentals of C#, HTML, CSS, JavaScript, SQl, .Net Core and many others.</em></p>
                            <ul>
                                <li>Kansas City, Missouri</li>

                            </ul>
                        </div>

                        <h3 class="resume-title">Education</h3>
                        <div class="resume-item">
                            <h4>Centriq Training Full Stack Web Development</h4>
                            <h5>04/2023-08/2023</h5>
                            <p><em>Centriq Training, Kansas City, Missouri </em></p>
                            <p>Centriq trainings Full Stack Web Development course dives deep into the fundamentals of front end, middle tier, and back end web development focusing on C#</p>
                        </div>
                        <div class="resume-item">
                            <h4>Front End:</h4>
                            <p>Skills in HTLM5, JavaScript, jQuery, jQueryUI, CSS3, Responsive/Mobile Web Develpment, Bootstrap, ReactJS</p>
                            <h4>Middle Tier:</h4>
                            <p>C#, .NET Core MVC, LINQ, EF, Razor Pages</p>
                            <h4>Back End:</h4>
                            <p>ADO.NET, SQL, SQL Server</p>
                            <h4>Tools:</h4>
                            <p>Azure Data Studio, Visual Studio, Visual Studio Code, SSMS, Git Bash</p>
                        </div>
                    </div>
                    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                        <h3 class="resume-title">Professional Experience</h3>
                        <div class="resume-item">
                            <h4>Assistant Meat Manager</h4>
                            <h5>2020 - 2023</h5>
                            <p><em>Hy-Vee, Liberty, Mo </em></p>
                            <ul>
                                <li> Created and managed spread sheets for inventory control and logging employee hours</li>
                                <li>Managed inventory through Retail Product Management (RPM). </li>
                                <li>
                                    • Oversaw safety and health regulations both locally and federally to maintain a healthy and
                                    safe working environment
                                </li>
                                <li>Developed action plans to increase sales and gross margin for quarterly inventories</li>
                            </ul>
                        </div>
                        <div class="resume-item">
                            <h4>Server/Bartender</h4>
                            <h5>2012 - 2020</h5>
                            <p><em>Great Plains Cattle Company, Kansas City, Mo</em></p>
                            <ul>
                                <li>Collaborated with other servers and bartenders on large parties to serve.</li>
                                <li>Used time management skills so that all steps of service were completed in a timely manner</li>
                                <li>Mastered customer service skills to ensure repeat customers</li>
                                <li>Communicated orders back and forth with customers to ensure satisfaction</li>
                            </ul>
                        </div>
                    </div>
                    <a href="assets/resume/DownloadableResume.pdf" target="_blank" class="btn btn-secondary" id="res" download>Download PDF Resume</a>
                </div>

            </div>
    </section><!-- End Resume Section -->
    
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg mt-4">
        <div class="container">

            <div class="section-title">
                <h2>Portfolio</h2>
                <p>Here you will find a collection of the projects I have created. Each with a small description and a link to find it on my GitHub. </p>
            </div>


            <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <h4>C# Dungeon Crawler Console App</h4>
                        <img src="assets/img/NewCode.jpg" class="img-fluid" alt="">
                        <div class="portfolio-links">
                            <a href="assets/img/NewCode.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Conslole App"><i class="bx bx-plus"></i></a>
                            <a href="@Url.Action("PortfolioDetails","Home")" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <h4>React To-Do App using APIs</h4>
                        <img src="assets/img/todo.png" class="img-fluid" alt="">
                        <div class="portfolio-links">
                            <a href="assets/img/todo.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="To-Do App"><i class="bx bx-plus"></i></a>
                            <a href="@Url.Action("ToDo","Home")" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <h4>E-Commerce using .NET MVC Core</h4>
                        <img src="assets/img/storefront.png" class="img-fluid" alt="">
                        <div class="portfolio-links">
                            <a href="assets/img/storefront.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="E-Commerce"><i class="bx bx-plus"></i></a>
                            <a href="@Url.Action("StoreFront","Home")" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <h4>Scheduling App .NET MVC Core</h4>
                        <img src="assets/img/admin.png" class="img-fluid" alt="">
                        <div class="portfolio-links">
                            <a href="assets/img/admin.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Scheduling"><i class="bx bx-plus"></i></a>
                            <a href="@Url.Action("Admin","Home")" title="Scheduling App"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <h4>Admin App using .NET MVC Core</h4>
                        <img src="assets/img/final.png" class="img-fluid" alt="">
                        <div class="portfolio-links">
                            <a href="assets/img/final.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Admin Site"><i class="bx bx-plus"></i></a>
                            <a href="@Url.Action("FinalProject","Home")" title="Scheduling App"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </section><!-- End Portfolio Section -->
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container">

            <div class="section-title">
                <h2>Centriq Classmates</h2>
                <p>Below are the classmates I went through the Centriq program with. Check out their personal sites and projects that they have completed.</p>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <div class="member-img">
                            <img src="assets/img/NewAndrew.jpg" alt="Andrew Cocroft" class="img-fluid">
                            <div class="member-info">
                                <a href="http://andcroft.com/">Andrew Cocroft</a>
                                <hr>
                                <a href="https://github.com/ACocroft" class="google-plus"><i class="bx bxl-github"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <div class="member-img">
                            <img src="assets/img/NewRob.jpg" alt="Rob Ritter" class="img-fluid">
                            <div class="member-info">
                                <a href="http://www.ritterhaus.net/">Rob Ritter</a>
                                <hr>
                                <a href="https://github.com/ritterob" class="google-plus"><i class="bx bxl-github"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <div class="member-img">
                            <img src="assets/img/NewJace.png" alt="Jace Cockrell" class="img-fluid">
                            <div class="member-info">
                                <a href="http://jacecockrell.com">Jace Cockrell</a>
                                <hr>
                                <a href="https://github.com/JaceCockrell" class="google-plus"><i class="bx bxl-github"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <div class="member-img">
                            <img src="assets/img/kyle_720.jpg" alt="Kyle Gough" class="img-fluid">
                            <div class="member-info">
                                <a href="http://goughkyle.com/">Kyle Gough</a>
                                <hr>
                                <a href="https://github.com/kylegough3" class="google-plus"><i class="bx bxl-github"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <div class="member-img">
                            <img src="assets/img/NewNick.jpg" alt="Nicholas Davolt" class="img-fluid">
                            <div class="member-info">
                                <a href="http://www.nicholasdavolt.com/">Nicholas Davolt</a>
                                <hr>
                                <a href="https://github.com/nicholasdavolt" class="google-plus"><i class="bx bxl-github"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <div class="member-img">
                            <img src="assets/img/NewDarron.jpg" alt="Darron Werntz" class="img-fluid">
                            <div class="member-info">
                                <a href="http://www.werntzdomain.com/">Darron Werntz</a>
                                <hr>
                                <a href="https://github.com/DarronWerntz" class="google-plus"><i class="bx bxl-github"></i></a>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <div class="member-img">
                            <img src="assets/img/NewDevon.jpg" alt="Devon" class="img-fluid">
                            <div class="member-info">
                                <a href="http://devschmidt.com/">Devon Schmidt</a>
                                <hr>
                                <a href="https://github.com/dev-schmidt" class="google-plus"><i class="bx bxl-github"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>




        </div>
    </section><!-- End Services Section -->
    <hr>





</main><!-- End #main -->